streamlit

langchain==0.3.27
langchain-community
langchain-ollama
langchain-text-splitters

chromadb

pypdf

sentence-transformers

python-dotenv

pandas
numpy

tiktoken

streamlit-chat

faiss-cpu

watchdog

pyttsx3
SpeechRecognition